@import url(https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap);

//Fonts /\ 
//Partials \/

@import "partials/variables";
@import "partials/animations";
@import "partials/mixins";
@import "partials/darkmode";
@import "partials/responsive";

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    animation: FadeInLoad 1s ease;
    animation-fill-mode: both;
    overflow-x: hidden;
    font-family: Lora, serif;
    color: $whitetxt;
    background-attachment: fixed;
}

//Scrollbar design webkit and moz
::-webkit-scrollbar {
    @include scrollbar;
}

::-webkit-scrollbar-thumb {
    @include scrollbar-thumb;
}

::-moz-scrollbar {
    @include scrollbar;
}

::-moz-scrollbar-thumb {
    @include scrollbar-thumb;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}
  .scrolled-up {  
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

//Navbar
#navbar-container {
    height: 150px;
}

.navbar {
    box-shadow: 0px 3px #000;
    animation: TopBottomLoad 1s ease;
    background-color: $whitenavbar;
    padding: 0 3rem;
    font-family: Lora, serif;
    .navbar-brand img {
        max-width: 15vw; 
        display: block;
        width: 100%;
        animation: HoverZoomOut 0.5s ease;
    }
    .navbar-brand img:hover {
        animation: HoverZoom 0.5s ease;
        animation-fill-mode: both;
    }
    .navbar-nav {
        color: $whitetxt;
    }
    .nav-item {
        font-size: 1.5em;
        margin: 30px;
    }
    .nav-link {
        animation: HoverZoomOut 0.3s ease;
    }
    .nav-link:hover {
        animation: HoverZoom 150ms ease;
        animation-fill-mode: both;
    }
    .nav-link::after{
        @include underline-hover-after;
    }
    .nav-link:hover::after{
        @include underline-hover-after2;
    }
    .nav-link {
        color: $whitetxt;
    }
    .active {
        font-weight: bold !important;
    }
    .dropdown-item.active {
        background-color: $whitenavbar;
        color: $whitetxt;
    }
    // a.nav-link.dropdown-toggle::before {
    //     visibility: hidden;
    // }
    // a.nav-link.dropdown-toggle::after {
    //     visibility: hidden;
    // }
    .dropdown-menu {
            animation: DropDownLoad 0.3s ease;
            border: $whiteborder;
        .dropdown-item {
            font-size: 1.2rem;
        }
        .dropdown-item:hover {
            background-color: $whitelinkhover;
        }
        .dropdown-item::after{
            @include underline-hover-after;
        }
        .dropdown-item:hover::after{
            @include underline-hover-after2;
        }
    }
}

#DarkMode {
    font-size: 24px;
    padding-right: 10px;
}

#Language {
    font-size: 24px;
}

main {
    h1 {
        font-weight: bold;
        margin-bottom: 15px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 20px;
    }
    a {
        text-decoration: none;
    }
    .container {
        .card {
            .card-body {
                .index-images {
                    width: 50%;
                    height: 50%;
                }
                .card-title {
                    font-weight: bold;
                    margin-bottom: 15px;
                    a {
                        color: $whitetxt;
                        text-decoration: none;
                        font-style: italic;
                    }
                }
                .card-text {
                    font-size: 1.14rem;
                    a {
                        color: $whitetxt;
                    }
                }
                .btn-primary {
                    border: $darkborder;
                    background-color: $darkbg;
                    color: $darktxt;
                    animation: HoverZoomOut 300ms ease;
                    font-weight: bold;
                }
                .btn-primary:hover {
                    border: $whiteborder;
                    background-color: $whitebg;
                    color: $whitetxt;  
                    animation: HoverZoom 300ms forwards;
                }
                details {
                    summary {
                        padding: 1% 0;
                    }
                    a {
                        color: $darktxt;
                    }
                }
                iframe {
                    width: 500px;
                    height: 350px;
                }
                .ServicesHead {
                    font-size: 24px;
                }
                .ServicesList {
                    ul {
                        // list-style-type: none;
                        li {
                            margin-top: 1%;
                        }
                    }
                }
                .ServicesContact {
                    font-size: 24px;
                }
                .OtherServicesHead {
                    font-size: 20px;
                }
                .OtherServicesButton {
                    width: 70%;
                }
            }
        }
        hr.separate-content {
            width: 70%;
            margin: 15px auto;
            border: 2px solid $whitetxt;
        }
        hr.separate-service {
            width: 70%;
            margin: 15px auto;
            border: 2px solid $whitetxt;
            display: none;
        }
        #MainContent {
            .card {
                animation: HoverZoomOut 0.3s ease;
            }
            .card:hover {
                animation: HoverZoom 0.3s ease;
                animation-fill-mode: both;
            }
        }
        #ContactButton {
            background-color: #000;
            color: $darktxt;
            animation: BreathingX 6s ease;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
            &:hover {
                background-color: $whitebg;
                color: $whitetxt;
                border: $whiteborder;
            }
        }
        // .accordion {
        //     .accordion-button {
        //         background-color: #0d0d0d;
        //         color: $darktxt;
        //     }
        //     .accordion-body {
        //         background-color: $darkbg;
        //         color: $darktxt;
        //         a {
        //             color: $darktxt;                        
        //         }
        //     }
        // }
    }
}

//Footer
footer {
    border-top: $whiteborder;
    width: 90%;
    margin: 0 auto;
    position: relative;
    bottom: 0;
    font-style: italic;
    div {
        p {
            display: inline-block;
        }
        a {
            text-decoration: none;
        }
        span {
            color: black;
            margin-right: 20px;
        }
    }
    .bi {
        color: black;
    }
    #MegikCopyYear {
        margin: 0;
    }
}

//Form

form {
    input {
        border: $whiteborder !important;
    }
    textarea {
        border: $whiteborder !important;
    }
    select {
        border: $whiteborder !important;
        margin-bottom: 10px;
    }
    label {
        font-weight: bold;
    }
    .HelpText {
        margin-bottom: 10px;
    }
    .ValidInput {
        background-color: $whitebg;
    }
    .InvalidInput {
        background-color: $whiteinvalidinput;
    }        
    #SubmitHelp {
        color: red;
    }
    span {
        color: red;
    }
    #SubmitRequest {
        background-color: $darkbg;
        color: $darktxt;
        font-weight: bold;
    }
    #ResetRequest {
        background-color: $darkbg;
        color: $darktxt; 
        font-weight: bold;
    }
}

.no-script {
    background-color: #ffcc00;
    padding: 10px;
    text-align: center;
}

.E404 {
    main {
        text-align: center;
        a {
            color: rgb(65, 169, 185);
            text-decoration: underline;
        }
        img {
            padding: 30px;
            width: 300px !important;
        }
        p {
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
}