.dark-mode {
    background-color: $darkbg;
    color: $darktxt;
    #dark-mode-button {
        border: 0;
        background-color: $darkbg;
        color: $darktxt;
    } 

    //Dark navi

    .navbar {
        background-color: $darkbg;
        box-shadow: 0px 3px $whitebg;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
        .nav-link {
            color: $darktxt;
        }
        .nav-link::after{
            @include underline-hover-after;
            background-color: $darktxt;
        }
        .nav-link:hover::after{
            @include underline-hover-after2;
        }
        .dropdown-menu {
            background-color: $darkbg;
            border: $darkborder;
            .dropdown-item {
                color: $darktxt;
                background-color: $darkbg;
            }
            .dropdown-item:hover {
                background-color: $darklinkhover;
            }
            .dropdown-item::after{
                @include underline-hover-after;
                background-color: $darktxt;
            }
            .dropdown-item:hover::after{
                @include underline-hover-after2;
                background-color: $darktxt;
            }
            .dropdown-divider {
                background-color: $darktxt;
            }
        }
    }

    //Dark main

    main {
        .pad {
            .container {
                span {
                    background-color: $darkbg;
                }
            }
        }
        .container {
            .card {
                background-color: $darkbg;
                color: $darktxt;
                border: $darkborder;
                a {
                    color: $whitetxt;
                }
                a:hover {
                    color: $darktxt;
                }
                .card-body {
                    .card-text {
                        a {
                            color: $darktxt;
                        }
                    }
                    .card-title {
                        a {
                            color: $darktxt;
                        }
                    }
                    .btn-primary {
                        border: $darkborder;
                        background-color: $whitebg;
                        color: $whitetxt;
                    }
                    .btn-primary:hover {
                        border: $darkborder;
                        background-color: $darkbg;
                        color: $darktxt;  
                    }
                    details {
                        summary {
                            padding: 1% 0;
                        }
                        a {
                            color: $darktxt;
                        }
                    }
                }
            }
            #ContactButton {
                background-color: $whitebg;
                color: $whitetxt;
            }
            #ContactButton:hover {
                background-color: $darkbg;
                color: $darktxt;
                border: $darkborder;
            }
            // .accordion {
            //     .accordion-button {
            //         background-color: #0d0d0d;
            //         color: $darktxt;
            //     }
            //     .accordion-body {
            //         background-color: $darkbg;
            //         color: $darktxt;
            //         a {
            //             color: $darktxt;                        
            //         }
            //     }
            // }
            hr.separate-content {
                border: 1px solid $darktxt;
            }
            hr.separate-service {
                border: 1px solid $darktxt;
            }
        }
    }

    //Dark footer

    footer {
        border-top: $darkborder;
        div span {
            color: $darktxt;
        }
        .bi {
            fill: $darktxt;
        }
    }

    //Dark form
    
    form {
        input {
            background-color: $darkbg;
            color: $darktxt;
            border: $darkborder !important;
            &:focus {
                background-color: $darkbg;
                color: $darktxt;
                border: $darkborder;
            }
        } 
        textarea {
            background-color: $darkbg;
            color: $darktxt;
            border: $darkborder !important;
            &:focus {
                background-color: $darkbg;
                color: $darktxt;
                border: $darkborder;
            }
        }
        select {
            background-color: $darkbg;
            color: $darktxt;
            border: $darkborder !important;
        }
        .HelpText {
            opacity: 0.8;
            color: $darktxt;
        }
        .ValidInput {
            background-color: $darkbg;
            color: $darktxt;
            border: $darkborder;
        }
        .InvalidInput {
            background-color: $darkinvaliinput;
        }        
        ::placeholder {
            color: $darktxt;
        }
        span {
            color: red;
        }
        #SubmitHelp {
            color: red;
        }
        #SubmitRequest {
            background-color: $whitebg;
            color: $whitetxt;
        }
        #ResetRequest {
            background-color: $whitebg;
            color: $whitetxt; 
        }
    }
}