@media only screen and (max-width:1200px) {
    footer {
        .FooterItems {
            text-align: center;
            width: 100%;
        }
        .WorkingHours {
            width: 100%;
        }
    }
}

@media only screen and (max-width:1069px) {
    a.nav-link {
        font-size: 20px;
    }
}

@media only screen and (max-width:992px) {
    header {
        margin-bottom: -50px;
    }
    #DarkMode {
        padding: 0px 0px 30px 30px;
    }
    a.nav-link {
        font-size: 24px;
    }
    hr.separate-service {
        display: block !important;
    }
    #ContactButton {
        .card-body {
            h4 {
                font-size: 20px;
            }
            .small {
                font-size: 12px;
            }
        }
    }
} 

@media only screen and (max-width:767px) {
    header {
        margin-bottom: -80px;
    }
    #ContactButton {
        h4 {
            font-size: 1.1rem;
        }
        p {
            font-size: 0.8rem;
        }
    }
    .welcome {
        text-align: center;
    }
}

@media only screen and (max-width:575px) {
    #Maps {
        width: 320px;
        height: 350px; 
    }
}